.register-component {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #1db954, #191414) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 30%;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}